*{
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
   background-color: antiquewhite;
   align-items: center;
   text-align: center;    
}

.todo{
    /* border: 2px solid black; */
    
}
 . main{
    display: flex;
    align-items: center;
   text-align: center;   

 }

